@import 'reset.sass'
// @import 'main.sass'
// @import 'wishlist.sass'
// @import 'cart.sass'


$point1: 740px
$point2: 1140px
$point3: 480px
    
.page
    background-color: #1c1b15
    min-width: 320px
    font-family: 'Roboto', sans-serif

.header
    background-color: #000000
    height: 60px
    @media  ( max-width: $point1 )
        height: 40px

.wrapper
    max-width: 1920px
    @media  (  min-width: $point1)
        min-height: 740px
    margin: 0 auto
    background: url(../public/img/bgimage.png) no-repeat
    background-size: 100%
    @media  ( max-width: $point1 )
        background-image: none

.page_content
    margin: 0 auto
    max-width: 1200px 

.header_content
    @media  ( max-width: $point1 )
        padding: 0 15px
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
    .logo_text
        display: flex
        align-items: center
        font-weight: 400
        font-size: 16px
        @media ( max-width: $point1 )
            font-size: 12px
        color: #cccccc
        &:before
            content: ''
            width: 23px
            height: 23px
            background: url(../public/img/logo.png) no-repeat
            background-size: 100%
            margin-right: 10px

.header_menu
    display: flex
    list-style-type: none
    .header_menu_item:first-child 
        margin: 0 0 0 5px
    .header_menu_item
        @media ( max-width: $point1 )
            margin: 0 0px 0 25px
        margin: 0 0px 0 55px
        .cart, .wish, .login, .account
            font-weight: 400
            font-size: 15px
            color: #ffffff
            opacity: 0.6
            @media ( max-width: $point1  )
                opacity: 1
            @media (hover: hover)
                &:hover
                    opacity: 1
        .or
            margin: 0 5px 0 5px
            color: #656565
    .wish
        @media ( max-width: $point1 ) 
            background: url(../public/img/adaptive/valentines-heart.png) no-repeat 
            padding-left: 16px
    .cart
        @media ( max-width: $point1 ) 
            background: url(../public/img/adaptive/cart.png) no-repeat 
            padding-left: 16px
    .login
        @media ( max-width: $point1 )
            background: url(../public/img/adaptive/ico.png) no-repeat  
            padding-left: 30px
    .text 
        @media ( max-width: $point1 ) 
            display: none  
           
.nav_container
    position: relative
    @media ( max-width: $point1 )
        height: 100%
    height: 122px
    .nav 
        position: absolute
        right: 0
        margin-top: 70px
        @media ( max-width: $point1 )
            position: relative
            margin-top: 10px
            margin-left: 0px
    .nav_menu
        display: flex
        @media ( max-width: $point1 )
            flex-wrap: wrap
            justify-content: flex-end
        list-style-type: none
    .nav_menu_item
        &:first-child
            @media ( max-width: $point1 )
                margin-left: 30px
        padding-left: 15px
        padding-right: 15px
        margin-bottom: 20px
    .nav_link
        &:hover
            @media( hover: hover)
                border-bottom: 3px solid white
                opacity: 1
        padding: 0 7px 10px 7px
        font-size: 17px
        @media ( max-width: $point1 )
            font-size: 15px
        text-transform: uppercase
        color: white
        opacity: 0.8
    .active_itm
        border-bottom: 3px solid white
        opacity: 1  

.logoWoT
    background: url(../public/img/LogoWoT.png) no-repeat
    margin-top: 5px
    margin-left: -10px
    position: absolute
    width: 200px
    height: 200px
    @media (max-width: 740px) 
        background: url(../public/img/adaptive/Logo.png) no-repeat
        background-size: 19px 24px
        left: 15px
        margin: 0





