* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1c1b15;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(../public/img/bgimage.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 740px) {
  .wrapper {
    min-height: 740px;
  }
}
@media (max-width: 740px) {
  .wrapper {
    background-image: none;
  }
}

header {
  background-color: #000000;
  height: 60px;
}
@media (max-width: 740px) {
  header {
    height: 40px;
  }
}

.header_content {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  transform: translate(0, -50%);
}

h1 {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #cccccc;
}
@media (max-width: 740px) {
  h1 {
    font-size: 12px;
  }
}
h1:before {
  display: flex;
  align-items: center;
  content: url(../public/img/logo.png);
  margin-right: 10px;
}

.header_menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.header_menu li:first-child {
  margin: 0 0 0 5px;
}
.header_menu .header_menu_item {
  margin: 0 0px 0 55px;
}
@media (max-width: 740px) {
  .header_menu .header_menu_item {
    margin: 0 0px 0 25px;
  }
}
.header_menu .header_menu_item a {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  opacity: 0.6;
  transition: 0.3s screen;
}
@media (max-width: 740px) {
  .header_menu .header_menu_item a {
    opacity: 1;
  }
}
@media (hover: hover) {
  .header_menu .header_menu_item a:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

.or {
  margin: 0 5px 0 5px;
  color: #656565;
}

@media (max-width: 740px) {
  .wish {
    background: url(../public/img/adaptive/valentines-heart.png) no-repeat;
    padding-left: 16px;
  }
}

@media (max-width: 740px) {
  .cart {
    background: url(../public/img/adaptive/cart.png) no-repeat;
    padding-left: 16px;
  }
}

@media (max-width: 740px) {
  .login {
    background: url(../public/img/adaptive/ico.png) no-repeat;
    padding-left: 30px;
  }
}

@media (max-width: 740px) {
  .text {
    display: none;
  }
}

.nav_container {
  position: relative;
  height: 122px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 740px) {
  .nav_container {
    height: 100%;
  }
}
.nav_container nav {
  right: 0;
  margin-top: 70px;
  position: absolute;
}
@media (max-width: 740px) {
  .nav_container nav {
    position: relative;
  }
}
@media (max-width: 740px) {
  .nav_container nav {
    margin-top: 10px;
    margin-left: 0px;
  }
}
.nav_container ul {
  display: flex;
  list-style-type: none;
}
@media (max-width: 740px) {
  .nav_container ul {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (max-width: 740px) {
  .nav_container ul:first-child {
    margin-left: 30px;
  }
}
.nav_container li {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.nav_container a {
  padding: 0 7px 10px 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  opacity: 0.8;
}
@media (max-width: 740px) {
  .nav_container a {
    font-size: 15px;
  }
}
.nav_container img {
  margin-top: 5px;
  margin-left: -10px;
  position: absolute;
}
@media (max-width: 740px) {
  .nav_container img {
    padding-left: 25px;
    margin: 0;
  }
}

.logoWoT {
  background: url(../public/img/LogoWoT.png);
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: -10px;
  position: absolute;
  width: 185px;
  height: 98px;
}
@media (max-width: 740px) {
  .logoWoT {
    background: url(../public/img/adaptive/Logo.png);
    background-repeat: no-repeat;
    background-size: 19px 24px;
    left: 15px;
    margin: 0;
  }
}

.nav_menu_item a.active_itm {
  border-bottom: 3px solid white;
  opacity: 1;
}

@media (hover: hover) {
  .nav_menu_item > a:hover {
    border-bottom: 3px solid white;
    opacity: 1;
  }
}
.checkbox_input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox_label::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url(../public/img/heart.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 480px) {
  .checkbox_label::before {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 18px;
    right: 18px;
  }
}
.checkbox_label::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url(../public/img/heartFull.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 480px) {
  .checkbox_label::after {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: 18px;
    right: 18px;
  }
}

.checkbox_input:checked + .checkbox_label::before {
  display: none;
}
.checkbox_input:checked + .checkbox_label::after {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-auto-flow: row dense;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1140px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 740px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.22);
  padding-bottom: 100%;
  z-index: 10;
}
@media (hover: hover) {
  .item:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.item_conteiner {
  bottom: 15px;
  left: 15px;
  position: absolute;
}
@media (max-width: 480px) {
  .item_conteiner {
    bottom: 10px;
    left: 10px;
  }
}
.item_conteiner h2 {
  font-size: 14px;
  color: #cccccc;
  font-weight: 400;
}
@media (max-width: 740px) {
  .item_conteiner h2 {
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  .item_conteiner h2 {
    font-size: 12px;
  }
}
.item_conteiner span {
  display: block;
  margin-left: 10px;
  color: #d1b482;
  font-weight: 400;
  font-size: 15px;
}

img.pictureItem,
img.heart {
  position: absolute;
  width: 85%;
  margin: 0 auto;
  top: 50%;
  transform: translate(7.5%, -50%);
  z-index: -10;
}

.purchase {
  display: block;
  background: #e95104;
  border: none;
  width: 100px;
  height: 0px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  opacity: 0;
  transition: 0.4s;
  overflow: hidden;
  margin-top: 8px;
}

a.purchase {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: none) {
  .purchase {
    opacity: 1;
    height: 30px;
    font-size: 10px;
  }
}
@media (hover: none) and (max-width: 480px) {
  .purchase {
    height: 25px;
  }
}

@media (hover: hover) {
  .item:hover .purchase {
    display: block;
    opacity: 1;
    height: 40px;
    transition: 0.4s;
  }
  .item:hover a.purchase {
    display: flex;
  }
}
.double {
  padding-bottom: 50%;
  grid-column: span 2;
}

.description {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
@media (max-width: 480px) {
  .description {
    margin-bottom: 3px;
  }
}
.description .flag {
  height: 15px;
  width: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
@media (max-width: 480px) {
  .description .flag {
    height: 12px;
    width: 20px;
  }
}
.description .ussr {
  background: url('../public/img/flags/ussr.png') center/cover no-repeat;
}
.description .sweden {
  background: url('../public/img/flags/sweden.png') center/cover no-repeat;
}
.description .chine {
  background: url('../public/img/flags/chine.png') center/cover no-repeat;
}
.description .czech {
  background: url('../public/img/flags/czech.png') center/cover no-repeat;
}
.description .france {
  background: url('../public/img/flags/france.png') center/cover no-repeat;
}
.description .germany {
  background: url('../public/img/flags/germany.png') center/cover no-repeat;
}
.description .italy {
  background: url('../public/img/flags/italy.png') center/cover no-repeat;
}
.description .japan {
  background: url('../public/img/flags/japan.png') center/cover no-repeat;
}
.description .poland {
  background: url('../public/img/flags/poland.png') center/cover no-repeat;
}
.description .uk {
  background: url('../public/img/flags/uk.png') center/cover no-repeat;
}
.description .usa {
  background: url('../public/img/flags/usa.png') center/cover no-repeat;
}
.description .type {
  height: 15px;
  width: 12px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.description .light {
  background: url('../public/img/type/light.png') center/cover no-repeat;
}
.description .medium {
  background: url('../public/img/type/medium.png') center/cover no-repeat;
}
.description .heavy {
  background: url('../public/img/type/heavy.png') center/cover no-repeat;
}
.description .destroyers {
  height: 10px;
  background: url('../public/img/type/destroyers.png') center/cover no-repeat;
}

/*# sourceMappingURL=style.css.map */
