body{
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, #341700, #1c1b15);
    margin: 0;
}

form{
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    width: 500px;
    box-shadow: 0 5px 0 0 #f26402 inset;
}

span{
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

input{
    width: 270px;
    margin-bottom: 20px;
    height: 30px;
    outline: none;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    color: black;
    font-size: 14px;
    border: 2px solid rgba(242, 100, 2, 0);
    border-radius: 4px;
    transition: .3s;
}

input:hover{
    box-shadow: 0 0 10px 0 #f26402;
    border: 2px solid rgba(242, 100, 2, 0.65);
    transition: .3s;
}
input:focus{
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #ff6900;
    transition: .3s;
}
a{
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 10px;
    color:white;
    transition: .3s;
}
a:hover{
    color:#f26402;
    text-decoration: underline;
    transition: .3s;
}
button{
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    height: 35px;
    padding: 0 25px;
    background-color: #f26402;
    border: none;
    border-radius: 3px ;
    transition: .3s;
}
button:hover{
    cursor: pointer;
    color: #f26402;
    background-color: white;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -3px 0 0 #f26402 inset;
    transition: .3s;
}
@media (max-width: 576px) {
    form{
        width: 100%;
    }
}

